body {
  background-image: url("pizza_hatter.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  }

#üdvözlo_szoveg{
  color: blanchedalmond;
  text-align: center;
}

#elerhetoseg{
  color:blanchedalmond;
  
}

#leiras_rolunk{
  color: blanchedalmond;
  margin-left: 40px;
  text-align: left;
  max-width: 800px;
}
.icon{
  margin: auto;
  font-size: 	1.6em;
  color: blanchedalmond;
}


#rendeles_gomb{
  margin-left: 350px;
  font-size:larger;
}

.card{
  color: blanchedalmond;
  text-align: center;
}

.btn-primary{
  color:blanchedalmond;
  margin: auto;
}

#adataim{
  color: blanchedalmond;
}
.form-label{
  color: blanchedalmond;
}
.form-control{
  max-width: 700px;
  background-color:gainsboro;
}
.form-check-label{
  color: blanchedalmond;
}

.bg-dark{
  padding: 7px;
  border-color:blanchedalmond;
}

#test{
  color: blanchedalmond;
  font-size: 70px;
  margin: 200px;
}

#osszeg{
  color: blanchedalmond;
}

.card-images{
  height: 183px;
}
  
#sikeres_rendeles{
  color: blanchedalmond;
}