{% extends "kezdolap.html" %}

{% block title %} Elérhetőség {% endblock title %}

{% block udvozles %} {% endblock udvozles %}
{% block rendeles_gomb %}  {% endblock rendeles_gomb %}
{% block elerhetoseg %}

<div class="container" id="elerhetoseg">
    <div class="row">
        <h1 id="elerhetoseg_h1">Elérhetőség</h1>
        <h4 class="telefon-cim">Telefon: +36 (30) 852 2123</h4>
        <h4 class="telefon-cim">Címünk: Buják, Kossuth út 5</h4>
        <p>Nyitvatartás:</p>
        <ul>
            <li>Hétfő: 10:00 - 21:00</li>
            <li>Kedd: 10:00 - 21:00</li>
            <li>Szerda: 10:00 - 20:00</li>
            <li>Csütörtök: 10:00 - 21:00</li>
            <li>Péntek: 10:00 - 22:00</li>
            <li>Szombat: 10:00 - 22:00</li>
            <li>Vasárnap: 10:00 - 21:00</li>
        </ul>
    </div>

{% endblock elerhetoseg %}