<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/27cf23a067.js" crossorigin="anonymous"></script>
    <title>{% block title %} Kezdőlap {% endblock title %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href=" {{ url_for('kezdolap') }} ">Cserhátgyöngye Kisvendéglő és Pizzéria</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('rendeles') }}">Rendelés</a>
                    <a class="nav-link" href="{{ url_for('elerhetoseg') }}">Elérhetőség</a>
                    <a class="nav-link" href="{{ url_for('kepek') }}">Képek</a>
                    <a class="nav-link" href="{{ url_for('rolunk') }}">Rólunk</a>
                    <a class="nav-link" href="https://www.facebook.com/Cserhatgyonge"> <i class="fa-brands fa-facebook  icon" ></i></a>
                    <a class="nav-link" href="{{ url_for('kosar') }}"> <i class="fa-solid fa-basket-shopping icon" ></i> </a>
                </div>
            </div>
        </div>
    </nav>
    {% block udvozles %}
        <h1 id="üdvözlo_szoveg">Üdvözöllek a Cserhátgyöngye Kisvendéglő és Pizzéria honlapján!</h1>
    {% endblock udvozles %}
    {% block elerhetoseg %} <p id="leiras_rolunk">Szeretettel köszöntünk a mi vendéglőnkben! Ha finom ételeket és kellemes környezetet keresel, akkor jó helyen jársz. Vendéglőnk egy kellemes és barátságos légkört biztosít, hogy a vendégeink kényelmesen érezhessék magukat.
        <br>
        <br>
        A mi konyhánkban a minőségi alapanyagokra helyezzük a hangsúlyt. Ételeinket frissen készítjük, és mindent megteszünk annak érdekében, hogy a legfinomabb ízeket hozzuk ki belőlük. Az étlapunkon számos lehetőség közül válogathatsz, beleértve a hagyományos ételeket és az újabb ízvilágot is.
        <br>
        <br>
        A húsételek rajongói számára kínálunk steaket, sült csirkét, marhapörköltet, borjúpaprikást és sok másat. A vegetáriánusoknak is számos lehetőség áll rendelkezésre, beleértve a friss salátákat, a grillezett zöldségeket, a tésztaételeket és a vegetáriánus pizza variációkat is.
        <br>
        <br>
        Ha valami igazán különlegesre vágysz, próbáld ki a szakácsunk által ajánlott napi menüt. Minden nap frissen készítjük az aktuális menüt, így mindig tudunk valami újat és izgalmasat kínálni.
        <br>
        <br>
        Az italok terén is széles választék áll rendelkezésre. Kínálunk borokat, söröket, alkoholmentes italokat és koktélokat is, hogy mindenki megtalálja az ízlésének megfelelő italt.
        <br>
        <br>
        A vendéglőnk hangulata is különleges. Kellemes környezetben és barátságos légkörben töltheted el az idődet. Az elegáns belső tér kényelmes asztalokkal és székekkel, valamint kellemes zenével rendelkezik, amely ideális helyszínt biztosít a pihenésre és az étkezésre.
        <br>
        <br>
        Ha barátaiddal vagy családoddal szeretnél egy jó étteremben vacsorázni, akkor szeretettel várjuk a mi vendéglőnkben. Ígérjük, hogy kellemes élményben lesz részed, és hogy visszatérsz hozzánk, hogy újra élvezd az ételeinket és a hangulatos környezetet.</p></p>
    {% endblock elerhetoseg %}
    {% block kepek %} {% endblock kepek %}
    {% block rendeles_gomb %}
    <a href="{{ url_for('rendeles') }}"><button type="button" class="btn btn-dark btn-outline-danger" id="rendeles_gomb">Rendelés</button></a>   
    {% endblock rendeles_gomb %}
   


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>