{% extends "elerhetoseg.html" %}
{% block title %} Kosár {% endblock title %}
{% block elerhetoseg %} 


<div class="card text-center bg-dark">
    <div class="card-body bg-dark">
      <h5 class="card-title">Az ön rendelése a következő:</h5>
      <p class="card-text bg-dark">
        {% for k in kosaram %}
        <form action="/kosarhoz_ad" method="POST">
          <input type="hidden" name="nev" value="{{ k['név'] }}">
          <input type="hidden" name="ara" value="{{ k['ár'] }}">
        </form>
        <h5 id="osszeg"> 1db {{ k["név"] }} pizza | Ár:{{ k["ár"] }} Ft </h5>
        {% endfor %}
        <h4> Összesen: {{ osszeg }} Ft</h4>
      </p>
      <div class="container">
      <a href="{{ url_for('ürlap') }}" class="btn btn-primary bg-dark">Rendelés</a>
      
      <form action="/kosar_torles" method="POST">
        <button class="btn btn-primary bg-dark" type="submit"> Kosár törlése </button>
      </form>
      
    </div>
</div>
<a href="{{ url_for('pizza') }}" class="btn btn-primary bg-dark">Vissza a pizzákhoz </a>




  {% endblock elerhetoseg %}