{% extends "elerhetoseg.html" %}
{% block title %} Kosár {% endblock title %}
{% block elerhetoseg %} 


<div class="card text-center bg-dark">
    <div class="card-body bg-dark">
      <h5 class="card-title">Az ön rendelése a következő:</h5>
      <p class="card-text bg-dark">
        {% for k in kosaram %}
        <form action="/kosarhoz_ad" method="POST">
          <input type="hidden" name="nev" value="{{ k['név'] }}">
          <input type="hidden" name="ara" value="{{ k['ár'] }}">
        </form>
        <h5 id="osszeg"> 1db {{ k["név"] }} pizza | Ár:{{ k["ár"] }} Ft </h5>
        {% endfor %}
        {% if osszeg == 0 %}
        <h4>Az Ön kosara jelenleg üres.</h4>
        {% else  %}
        <h4> Összesen: {{ osszeg }} Ft</h4>
        <a href="{{ url_for('ürlap') }}" class="btn btn-primary bg-dark">Rendelés</a>
        <div class="container">
          <form action="/kosar_torles" method="POST">
            <button class="btn btn-primary bg-dark" type="submit"> Kosár törlése </button>
          </form>
          <a href="{{ url_for('rendeles') }}" class="btn btn-primary bg-dark">Vissza az étlaphoz </a>
        </div>
        {% endif %}
    </div> 
  </p>   
</div>


  {% endblock elerhetoseg %}