{% extends "elerhetoseg.html" %}


{% block elerhetoseg %}
{% block one %} {% endblock one %}

<form action="" method="POST">
  {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control",placeholder="pelda@valami.hu") }}
    </div>
    <div class="mb-3">
      {{ form.vnev.label(class="form-label") }}
      {{ form.vnev(class="form-control",placeholder="Nagy") }}
    </div>
    <div class="mb-3">
      {{ form.knev.label(class="form-label") }}
      {{ form.knev(class="form-control",placeholder="Ferenc") }}
    </div>
    <div class="mb-3">
      {{ form.tel.label(class="form-label") }}
      {{ form.tel(class="form-control",placeholder="+36301234567") }}
    </div>
    <div class="mb-3">
      {{ form.varos.label(class="form-label") }}
      {{ form.varos(class="form-control",placeholder="Budapest") }}
    </div>
    <div class="mb-3">
      {{ form.irsz.label(class="form-label") }}
      {{ form.irsz(class="form-control",placeholder="1234") }}
    </div>
    <div class="mb-3">
      {{ form.utca.label(class="form-label") }}
      {{ form.utca(class="form-control",placeholder="Pelda utca") }}
    </div>
    <div class="mb-3">
      {{ form.hszam.label(class="form-label") }}
      {{ form.hszam(class="form-control", placeholder="34") }}
    </div>



  <div class="card text-center bg-dark">
    <div class="card-body bg-dark">
      <h5 class="card-title">Az ön rendelése a következő:</h5>
      <p class="card-text">
        {% for k in kosaram %}
        <h5 id="osszeg"> 1db {{ k["név"] }} pizza | Ár:{{ k["ár"] }} Ft </h5>
        {% endfor %}
      </p>
      <p>Összesen fizetendő: {{ szamlalo }} Ft</p>
      
      {{ form.submit(class="btn btn-outline-danger") }}
      <a href="{{ url_for('pizza') }}" class="btn btn-primary bg-dark">Vissza a pizzákhoz </a>
    </div>   
  </div>
</form>

{% endblock elerhetoseg %}


