{% extends "kezdolap.html" %}

{% block title %} Rólunk {% endblock title %}
{% block rendeles_gomb %}  {% endblock rendeles_gomb %}
{% block elerhetoseg %} <p id="leiras_rolunk">Szeretettel köszöntünk a mi vendéglőnkben! Ha finom ételeket és kellemes környezetet keresel, akkor jó helyen jársz. Vendéglőnk egy kellemes és barátságos légkört biztosít, hogy a vendégeink kényelmesen érezhessék magukat.
    <br>
    <br>
    A mi konyhánkban a minőségi alapanyagokra helyezzük a hangsúlyt. Ételeinket frissen készítjük, és mindent megteszünk annak érdekében, hogy a legfinomabb ízeket hozzuk ki belőlük. Az étlapunkon számos lehetőség közül válogathatsz, beleértve a hagyományos ételeket és az újabb ízvilágot is.
    <br>
    <br>
    A húsételek rajongói számára kínálunk steaket, sült csirkét, marhapörköltet, borjúpaprikást és sok másat. A vegetáriánusoknak is számos lehetőség áll rendelkezésre, beleértve a friss salátákat, a grillezett zöldségeket, a tésztaételeket és a vegetáriánus pizza variációkat is.
    <br>
    <br>
    Ha valami igazán különlegesre vágysz, próbáld ki a szakácsunk által ajánlott napi menüt. Minden nap frissen készítjük az aktuális menüt, így mindig tudunk valami újat és izgalmasat kínálni.
    <br>
    <br>
    Az italok terén is széles választék áll rendelkezésre. Kínálunk borokat, söröket, alkoholmentes italokat és koktélokat is, hogy mindenki megtalálja az ízlésének megfelelő italt.
    <br>
    <br>
    A vendéglőnk hangulata is különleges. Kellemes környezetben és barátságos légkörben töltheted el az idődet. Az elegáns belső tér kényelmes asztalokkal és székekkel, valamint kellemes zenével rendelkezik, amely ideális helyszínt biztosít a pihenésre és az étkezésre.
    <br>
    <br>
    Ha barátaiddal vagy családoddal szeretnél egy jó étteremben vacsorázni, akkor szeretettel várjuk a mi vendéglőnkben. Ígérjük, hogy kellemes élményben lesz részed, és hogy visszatérsz hozzánk, hogy újra élvezd az ételeinket és a hangulatos környezetet.</p>
{% endblock elerhetoseg %}